<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= render 'layouts/header' %>

    <div class="container">
      <% if flash[:notice] %>
        <%= content_tag(:div, flash[:notice], class: "alert alert-success") %>
      <% end %>
      <% if flash[:alert] %>
        <%= content_tag(:div, flash[:alert], class: "alert alert-warning") %>
      <% end %>

    	<%= yield %>
	</div>

  </body>
</html>
